DATABASE_URL="mysql://root:luis@localhost:3306/agencia_tours"
PORT=4000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
JWT_SECRET="cambia_este_secreto_en_produccion"
JWT_EXPIRES_IN=8h
ADMIN_EMAIL=admin@jhontours.com
ADMIN_PASSWORD=Admin12345
CULQI_PRIVATE_KEY="sk_test_xxxxxxxxxxxxxxxxx"

